{% block subject %}Reset Password{% endblock %}

{% block html_body %}
<body
  style="
    font-family: Arial;
    background-color: rgb(255, 128, 128);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  "
>
  <div
    class="container"
    style="
      background-color: rgb(240, 240, 240);
      padding: 5% 2%;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      min-width: 100px;
      max-width: 500px;
      max-height: 800px;
    "
  >
    <h1 style="margin-bottom: 8%">Password Reset was requested</h1>
    <form action="{{ url }}" method="get">
      <button
        style="
          display: block;
          width: 100%;
          padding: 2% 2%;
          background-color: white;
          border-radius: 15px;
          font-size: 120%;
          color: grey;
          border: none;
          transition: box-shadow 0.1s;
        "
        type="submit"
      >
        Reset Password
      </button>
    </form>
    <hr style="margin: 5% 0" />
    <a href="{{ url }}not-you/">Not you?</a>
  </div>
</body>
{% endblock %}
