{% extends 'authentication/base_auth.html' %}
{% load static %}
{% load method_override %}

{% block title %}Password Reset{% endblock %}
{% block style %}{% static 'authentication/input.css' %}{% endblock %}

{% block content %}
{% if h1 %}
<h1>{{ h1 }}</h1>
{% else %}
<h1>Password Reset Attempt</h1>
<div class="little-spacing"></div>
<p class="description">Someone tried to reset your password</p>
<div class="little-spacing"></div>
<form method="post">
  {% csrf_token %}
  {% method_override 'DELETE' %}
  <button class="submit-button" type="submit">
    Not You
  </button>
</form>
{% endif %}
{% endblock %}