{% extends 'authentication/base_auth.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}
{% block style %}{% static 'authentication/input.css' %}{% endblock %}

{% block content %}
{% if h1 %}
<h1>{{ h1 }}</h1>
{% else %}
<h1>Reset Password</h1>
<div class="little-spacing"></div>
<form method="post">
  {% csrf_token %}
  <p>{{ errors }}</p>
  <div class="form-group">{{ form.email }}</div>
  <input class="submit-button" type="submit" value="Submit" />
</form>
{% endif %}
{% endblock %}